<footer class="footer-basic-centered">

  <p class="footer-company-motto">Rails apps fast</p>

  <p class="footer-links">
    <a><%= link_to("home", root_path) %></a>
    ·
    <a><%= link_to("about", about_path) %></a>
    ·
    <a><%= link_to("contact", contact_path) %></a>
  </p>

  <p class="footer-company-name">Awesome Project &copy; 2015</p>

</footer>
