<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a><%= link_to("Project", root_path, class: "navbar-brand") %></a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn">
            <a><%= link_to("about", about_path, class: "btn btn-primary outline") %></a>
            <a><%= link_to("contact", contact_path, class: "btn btn-primary outline") %></a>
          </p>
        </li>
      </ul>
  </div>
</nav>
